body {
  font-family: "Montserrat";
}

h3 {
  font-family: "Montserrat";
  font-size: 2.3rem;
  font-weight: 900;
  line-height: 1.5;
}

p {
  color: #afafaf;
}

/************* CLASS SELECTORS *************/
.alfajores {
  border: 3px solid;
  border-color: white;
  border-radius: 3%;
  max-width: 85%;
  max-height: 85%;
  transform: rotate(25deg);
}

.carousel-item {
  padding: 7% 12%;
}

.container-fluid {
  padding: 3% 15%;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.feature-box {
  text-align: center;
}

.feat-icon {
  color: #91c9c9;
  margin-bottom: 1rem;
}

.feat-icon:hover {
  color: #aee1e1;
}

.feat-text {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 900;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.page_title {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.pricing-col {
  padding: 3% 2%;
}

.testimonials-text,
.plans-text,
.car-text {
  font-family: "Montserrat";
  font-size: 2.3rem;
  font-weight: 900;
  line-height: 1.5;
}

.test-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/************* ID SELECTORS *************/
#title {
  background-color: #aee1e1;
  color: white;
}

#features {
  padding: 7% 12%;
  text-align: center;
}

#press {
  background-color: #91c9c9;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#testimonials {
  background-color: #91c9c9;
  text-align: center;
  color: #fff;
}
